.card {
    height: 150px;
    width: 150px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.card .card-img-top {
    height: 100%;
    object-fit: cover;

}

.btn-close {
    background-color: red;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 2;
}
